@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: url(../images/background-image.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000;
}
  
  *, *:before, *:after{
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
  }
  
  .clearfix:after{
       visibility: hidden;
       display: block;
       font-size: 0;
       content: " ";
       clear: both;
       height: 0;
  }
  .clearfix { display: inline-block; }
  /* start commented backslash hack \*/
  * html .clearfix { height: 1%; }
  .clearfix { display: block; }
  /* close commented backslash hack */

main#wrapper{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
}

main#wrapper #container{
  margin: 0 auto;
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: rgba(0,0,80,.4);
  border: 1px solid #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

main#wrapper #copy-container{
  margin: auto;
  padding: 60px 0;
}

main#wrapper h1{
  padding: 0 20px;
  font-size: 50px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #fff;
}

main#wrapper p{
  margin-top: 40px;
  font-family: Arial;
  color: #fff;
  font-weight: bold;
}

main#wrapper form{
  margin-top: 20px;
  padding: 0 10px;
  font-family: Arial, sans-serif;
  color: #fff;
  font-weight: bold;
}

main#wrapper form input{
  margin: 20px;
  width: 30%;
  height: 30px;
  font-family: Arial, sans-serif;
}

main#wrapper #copy-container form #calculate{
  font-size: 20px;
  background-color: #000;
  color: #fff;
  height: 50px;
  vertical-align: middle;
  line-height: 0px;
  cursor: pointer;
}

main#wrapper h2{
  margin-top: 20px;
  font-family: Arial;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
}

@media only screen and (max-width:768px){

  main#wrapper #copy-container{
    padding: 30px 0;
  }

  main#wrapper #copy-container form span::before{
    content: "\a";
    white-space: pre;
  }

  main#wrapper form input{
    margin: 20px 0;
    width: 100%;
  }

  main#wrapper h1{
    margin-top: 20px;
  }

  main#wrapper h2{
    padding-bottom: 20px;
  }

}
